[2019-11-27 21:54] Julian88Tex opened #1 "Create a CSP Distance Class/Method"
As an admin, I want to get a list of potential Accounts as CSP records based on a given Account.

ACs

Given this apex script is provided [TBD from @sungysang]
And a Account ID is provided
And Account is Type = Church
And the Mailing Zip code is filled in
When executed in Dev Console Anonymous Apex
Then a list of 100 or less records are returned in debug logs
And all records are from Google places

[2019-11-27 21:57] Julian88Tex opened #2 "Create a Flow that triggers CSP Distance Class"
As an admin, I want to get a list of potential Accounts in dev console as CSP records based on an Account I provide within a flow.

Note: Logs should already be populated by #1.

ACs

Given a flow is run
And an Account is provided by user in flow
And Account is Type = School
When user clicks next button in flow
Then a list of 100 or less CSP records are returned in debug logs
And all records are c

[2019-11-27 22:02] Julian88Tex opened #3 "Display CSP records in Distance Flow"
As an admin, I want to get a list of potential Accounts in a flow as CSP records based on a given Account when triggered by a flow.

ACs

Given the flow from issue #2 is run
And an Account ID is provided by user in flow
And Account is Type = School
When clicking to next page in flow
Then a list of 100 or less records are displayed on flow screen but not created [aka are not given Salesforce IDs]
A

[2019-11-27 22:15] Julian88Tex opened #4 "Create "Potential" CSP Records based on Selections in Flow"
As an admin, I want to create CSP records with status "Potential" in the flow from issue #2 that I have selected.

ACs

Given a list of records is returned in the flow from issue #2
And I've selected records in flow
When I click Save on the flow screen
Then all selected records will create CSP records
And the Church field on the CSP record will be filled in
And the School field on the CSP record w

[2019-11-27 23:16] sungysang commented on #1
[code]

[2019-11-27 23:25] Julian88Tex commented on #1
@sungysang did one initial test and it looks good. When you get a chance could you create a PR and assign it to me and Brandon?

[2019-11-27 23:28] Julian88Tex opened #5 "Create a Technical Documentation"
Create a Technical Diagram of CSP Button (Flow + Class).

[2019-11-27 23:29] Julian88Tex opened #6 "Create a User Flow"
Create a User flow documentation that is readable by Loving Houston staff for CSP Button.

[2019-11-27 23:47] sungysang opened #7 "Change the way that records are queried from Record Type to Type"
From investigation, it was found that the Type field is a more reliable differentiator than the record type.

All areas in the code that reference the record type ID should be changed to reference the Type.

[2019-11-27 23:48] sungysang opened #8 "The invocable method should only return 100 records max"
Currently, the method has no max return count.

[2019-11-28 07:05] sungysang commented on #1
@Julian88Tex currently thinking about how sorting would work for return Accounts, believe the best way to implement this would be to have a custom field on the Account to hold the distance value, exactly like the one that will be added to the CSP object.

Do you feel that the requirement to sort related Accounts by proximity warrants a new custom field? If not, we can sort on the CSP records list

[2019-11-28 07:54] Julian88Tex commented on #8
@sungysang is this different than the requirement in #1? if not then I would call this a duplicate since it's in the ACs there

[2019-11-28 07:59] Julian88Tex commented on #1
@sungysang I'd rather not create a field on Account that is only used for this one operation if possible. Is there no way to store this field information memory when sending it to the flow?

[2019-11-28 08:19] sungysang opened #10 "Flow cannot assign apex method's output value as expected"
The invocable apex method can be called in the flow and find related records (per debug logs), but currently the output cannot be assigned to a record collection variable. According to [this forum post](https://developer.salesforce.com/forums/?id=906F00000005GQdIAM), the method should actually return a List of Lists rather than a List.

[2019-11-28 08:24] #8 closed

[2019-11-28 08:33] Julian88Tex commented on #10
@sungysang Thanks for doing this research. It sounds like this issue instead should be a comment on Issue #2 and that we need to update the ACs of this issue. I'm not sure I quite understand, mind rephrasing as a comment on that issue and closing this one out (unless you think this shouldn't be added to issue #2) with a bit more layman's terms explanation of what can and cannot be done with the cu

[2019-11-28 08:36] sungysang opened #11 "Create Unit Tests"

[2019-11-28 08:37] sungysang commented on #11
@Julian88Tex Mind adding some good tests I can write in?

[2019-11-28 08:39] Julian88Tex commented on #11
@sungysang can you clarify? You want me to write tests or you just want me to write the things to test and you’ll code them?

[2019-11-28 08:42] Julian88Tex commented on #11
@sungysang In either case usually Unit Tests are implied by any code being written. I'd recommend we add those as ACs to a given ticket if you'd like to have them on there. That being said, are the current ACs not detailed enough? If so, please comment on that ticket quoting an AC as an example and I can work on adding more context.

[2019-11-28 09:02] sungysang commented on #10
@Julian88Tex Yeah this should actually be a part of #2.

[2019-11-28 09:02] #10 closed

[2019-11-28 09:24] sungysang commented on #11
@Julian88Tex yeah I was thinking specifically scenarios that I can code out but they're already in Issues 1-4 ... sorry it's late!

[2019-11-28 09:24] #11 closed

[2019-11-28 09:26] Julian88Tex commented on #11
@sungysang all good! Glad you're having fun with working on this :-)

[2019-11-28 09:29] sungysang commented on #3
@Julian88Tex The biggest hurdle I'm running into is displaying the apex method's return records in a flow screen as selectable records. This does not seem to be possible with the base set of flow components. I've researched a potential component solution [here](https://unofficialsf.com/datatable/) but this will require mydomain to be set up for LH's Sandbox.

Also FYI I hooked up the Apex method t

[2019-11-28 09:42] sungysang commented on #1
@Julian88Tex As far as I can tell, there's no way to relate a certain value (distance) with each Account as an output unless it's added as a field value. One potential way is via a Map with Account as key and distance as value, but with that route the limitations in Flow would block us as I don't think a Map can be assigned an output value in Flow. Probably would be possible via lwc and maybe Bran

[2019-11-28 09:54] Julian88Tex commented on #3
@sungysang Okay thanks for the update. Feel free to enable mydomain in the sandbox. If our end solution requires it, I doubt that will be an issue to set up for them however less than ideal because we'll likely need to evaluate a few different things before enabling it. In particular, I would want to make sure it doesn't break the website map integration.

[2019-11-28 10:02] Julian88Tex commented on #1
@sungysang Thanks for the info. So I updated the ACs to be more generic in what is returned. The return can be a list of record (don't care which kind) as long as they include an Account of the opposite type, a distance from provided account the matched account, and is sorted by that distance. Doesn't really matter of that record is a CSP or Account or something else as long as it isn't created (c

[2019-11-28 19:36] sungysang commented on #1
@Julian88Tex Figured out a way to sort the Accounts before CSP records are created, the Accounts themselves won't show the distance but in debug logs they should be sorted closest to furthest now

[2020-01-13 07:21] Julian88Tex commented on #1
@sungysang FYI I updated some of these issues so that we can refine them on Tuesday evening

[2020-01-15 04:08] Julian88Tex opened #13 "Display Google Places Data on Lightning Data Table"
As a user, I would like to be able to see the first 10 Google Places Search data in a lightning component based on that Account's zip code and type.

LDS Data Table: https://www.lightningdesignsystem.com/components/data-tables/#Actionable-mode-Column-sorting-and-row-selection(s)

Documentation: https://developers.google.com/places/web-service/search#PlaceSearchRequests

Given an Account exists
And

[2020-01-24 05:27] Julian88Tex opened #14 "Validate the Google Nearby Places API Call in Salesforce Method"
As a technical user, I want to be able use a script [to be provided by developer]  with certain parameters [like "church" and location] to be able to get a list of Google Maps places that match those parameters [like "church" and location] in debug logs.

AC

Given a script the runs a method
And the script includes type = church
And the location [long & lat] = 4029 43rd Street San Diego, CA 92105

[2020-01-24 05:35] Julian88Tex commented on #14
Points: 13

[2020-01-24 05:41] Julian88Tex commented on #14
@sungysang Will add key to lastpass and share with @mersine

[2020-01-24 05:41] sungysang opened #15 "Spike: Learn how to Encrypt Google API Key with Github Secrets"

[2020-01-24 06:13] Julian88Tex commented on #14
@mersine this trail should be all you need to do this ticket: https://trailhead.salesforce.com/content/learn/modules/developer_console

In particular, the "Generate Debug Logs" page will be what you want to pay the most attention to

[2020-01-24 06:16] Julian88Tex commented on #14
@mersine here are some other things that I think will help:

https://www.youtube.com/watch?v=0IoG-mSvWSo
this can help make your json more readable if it is just in one long string: https://jsonformatter.curiousconcept.com/

[2020-01-24 06:37] Julian88Tex commented on #15
@sungysang some documentation: https://help.github.com/en/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets

So I don't think you can extract the secret when you let's say clone or pull from the repo... it's more for CICD tools I think. So it's probably best to just share the key with us in LastPass. I did that previously for an old version of the key and wi

[2020-01-24 06:39] Julian88Tex commented on #15
@sungysang @mersine y'all should both have an email from LastPass that will allow you to access the key

[2020-01-24 07:34] Julian88Tex opened #16 "Spike: Learn Agile/Scrum Best Practices"
@mersine Made this Trailmix for you on agile/scrum: https://trailhead.salesforce.com/en/users/julianjoseph/trailmixes/agile

[2020-01-24 07:42] Julian88Tex opened #17 "Signup for Loving-Houston Github Org"
@sungysang @mersine realized that we can create an organization so that we can manage our repos better, so please sign up for email that should have been sent to be part of it

[2020-01-24 07:43] Julian88Tex commented on #17
@sungysang can you also transfer this repo to that org: https://help.github.jp/enterprise/2.11/user/articles/transferring-a-repository-owned-by-your-personal-account/

[2020-01-24 07:43] Julian88Tex commented on #17
@BrandonWilliamBridges added you to this one too

[2020-02-03 00:07] Julian88Tex commented on #16
@mersine how is this one going? if you've finished feel free to add a comment and update this issue's status

[2020-02-03 00:13] Julian88Tex commented on #15
@sungysang @mersine can y'all confirm that you can see the key in LastPass by commenting on this ticket?

[2020-02-03 02:46] Julian88Tex commented on #14
@sungysang @mersine In order to give Rodney something to test, I went ahead and created a Proof of Concept class in Loving Houston's sandbox

@mersine I went ahead and created you a user in their sandbox  username: lovinghoust+rodney@gmail.com; let me know if you have issues logging in; note that since it's a Sandbox you'll login by navigating to test.salesforce.com. The first time you log in you'

[2020-02-04 05:37] rodney-zhu commented on #16
The link is broken.

[2020-02-04 05:46] rodney-zhu commented on #15
I have the key in Lastpass now. @Julian88Tex

[2020-02-04 05:48] rodney-zhu commented on #16
You unlocked it, thanks for making it public. I will complete the two badges this week.  @Julian88Tex

[2020-02-04 06:31] rodney-zhu commented on #14
Testing in this [google doc](https://docs.google.com/document/d/1qdBkzgjMFdtX3WkY42t8PNrhY7mMNit7ueT1B47urII/edit?usp=sharing).

[2020-02-04 07:02] Julian88Tex commented on #14
@Rodney-Zhu nice :-) let me know if you have questions as you go!

[2020-02-04 07:02] Julian88Tex commented on #16
@Rodney-Zhu my pleasure glad it works now. Lmk when you finish.

[2020-02-04 07:02] Julian88Tex commented on #15
@Rodney-Zhu great!

[2020-02-05 03:19] Julian88Tex commented on #1
@sungysang will be closing this out due to an architecture change to use Google Nearby Places API

sorry 😿

[2020-02-05 03:19] #1 closed

[2020-02-05 03:19] Julian88Tex commented on #2
@sungysang will be closing this out due to an architecture change to use Google Nearby Places API

sorry 😿

[2020-02-05 03:19] #2 closed

[2020-02-05 03:19] Julian88Tex commented on #3
@sungysang will be closing this out due to an architecture change to use Google Nearby Places API

sorry 😿

[2020-02-05 03:19] #3 closed

[2020-02-05 03:20] Julian88Tex commented on #7
@sungysang will be closing this out due to an architecture change to use Google Nearby Places API

sorry 😿

[2020-02-05 03:20] #7 closed

[2020-02-05 03:22] Julian88Tex commented on #15
@sungysang closing since this ticket doesn't really make sense. We wouldn't store the key in github unless we were doing CI/CD which we aren't for now.

[2020-02-05 03:22] #15 closed

[2020-02-05 03:30] sungysang commented on #17
Repo has been transferred to Loving-Houston

[2020-02-05 03:30] #17 closed

[2020-02-05 03:36] Julian88Tex commented on #4
@sungysang will be closing this out due to an architecture change to use Google Nearby Places API

sorry 😿

[2020-02-05 03:36] #4 closed

[2020-02-05 04:16] Julian88Tex opened #18 "When GooglePlaces.searchPlace is run CSP and Account Records are Created"
As a developer, when I run GooglePlaces.searchPlace with various location parameters (different long & lat, radius, etc.) then CSP records and Account records are created for results.

Example Run Script:
- GooglePlaces.searchPlace(longitude, latitude,radius,type,key);
- GooglePlaces.searchPlace(-33.8670522, 151.1957362,1500,'church',<key>);

ACs

Given I'm in Debug Logs
When I run GooglePlaces.se

[2020-02-05 04:42] Julian88Tex opened #20 "Remove Deprecated Classes from Repo"
We've had a good amount of discussion and decided that we are revamping our approach to work with Google Places rather than existing Accounts records so there are some now unusable classes that need to be removed that were created before this decision was made.

[2020-02-05 04:59] Julian88Tex commented on #14
@Rodney-Zhu In case this helps, here's a script run using our address (City Heights Square)'s Longitude and Latitude:

`GooglePlaces.searchPlace(32.750010,-117.101700, 1500,'church',<googleapikey>);`

[2020-02-05 05:14] Julian88Tex commented on #20
@sungysang merged and closed the PR

[2020-02-05 05:14] #20 closed

[2020-02-05 06:07] rodney-zhu commented on #16
@Julian88Tex Done. I'm ready to scrum.

[2020-02-05 06:07] #16 closed

[2020-02-05 06:10] Julian88Tex commented on #16
@Rodney-Zhu great!

[2020-02-05 08:45] Julian88Tex opened #22 "Create a way to send School Account ID and Use the Accounts Address in GooglePlaces Class"
As a developer, I'd like for the GooglePlaces class to search for churches based on an address from an Account ID provided.

**ACs**

Given a School Account exists
And the Account has a Billing Zip Code
And the Account has a Billing Country [AKA has a longitude and latitutde]
When I use this Account's ID in the Google Places class [GooglePlaces.searchPlace(AccountID, distance, 'church',<googlekey>

[2020-02-05 08:47] Julian88Tex opened #23 "Create a Button on Account which Triggers GooglePlaces.searchPlace Class and Sends Current Accounts ID"
As a nonprofit admin at Loving Houston, I would like to click a button on a School Account and Church Accounts near that school will be created along with related CSP records.

ACs

Given I am viewing an Account
When I go to add a button on to the layout
Then I see "Find Churches" as a button to add to the layout
And I can add the button to the layout

Given I am viewing a School Account
And the S

[2020-02-05 17:10] sungysang commented on #23
@Julian88Tex were you able to confirm if this can pass in the longitude/latitude? Or can it only send in record Ids?

[2020-02-05 18:03] Julian88Tex commented on #23
@sungysang I haven't verified that however, I don't see why you can't do all 3. That being said, the reason for this ticket is so that the ID is available for time of CSP creation since they will need to be related to the School ID which it's passed.

[2020-02-06 00:40] Julian88Tex commented on #18
@sungysang mind creating a PR and linking it to this issue even if you're not done okay to have it open but not ready yet

Also, just a reminder that we'll also need test coverage for and code written. I didn't have any in mine.

[2020-02-06 00:44] sungysang commented on #18
https://github.com/Loving-Houston/lovinghouston/pull/24
Thanks for test coverage reminder, gotta add those next

[2020-02-06 01:01] sungysang commented on #18
@sungysang will provide modified script for @Rodney-Zhu to test

[2020-02-06 01:18] Julian88Tex opened #25 "Create a Dev Sandbox for Sung"

[2020-02-06 01:19] sungysang commented on #14
@Julian88Tex @Rodney-Zhu FYI I edited the Sandbox code so the debug logs won't display exactly as expected in this ticket. You can just test the criteria for https://github.com/Loving-Houston/lovinghouston/issues/18 instead

[2020-02-06 03:39] sungysang commented on #18
@Julian88Tex mind refreshing the Sandbox? I need the Potential picklist value to be added to CSP Status field
`Insert failed. First exception on row 0; first error: INVALID_OR_NULL_FOR_RESTRICTED_PICKLIST, Status: bad value for restricted picklist field: Potential: [Status__c]`

[2020-02-06 03:49] Julian88Tex commented on #18
@sungysang sure started a refresh of partial; also refreshing their dev pro sandbox which you can use for dev moving forward... partial will mainly be used for rodney to QA

once you finsih anything in your dev, you can just copy and paste it to partial sandbox and let @Rodney-Zhu  know to begin QA on it

[2020-02-06 03:50] Julian88Tex commented on #18
should wait to do though AFTER it has been PRed and merged to master

[2020-02-06 03:53] Julian88Tex commented on #18
@Rodney-Zhu @sungysang FYI since I refreshed the Sandboxes, once it's done refreshing I'll have to recreate users for both of you. Expect to get new setup emails and you'll need to add passwords again.

[2020-02-07 07:21] rodney-zhu commented on #18
note to self:

`GooglePlaces.searchPlace('0011N00001qzT41QAE',32.750010,-117.101700,1500,'church','key');`

[2020-02-07 08:43] Julian88Tex commented on #25
finished this and gave @sungysang a username: sung@lovinghouston.net.sungdev

[2020-02-07 08:43] #25 closed

[2020-02-07 08:44] Julian88Tex commented on #22
@sungysang looks like you've begun work on this already... something to note is that once we send ID we won't need to capture Lat and Long anymore. Part of this ticket will be using Lat and Long on Account ID passed in.

[2020-02-11 19:32] jonatng commented on #6
User flow mind map

[Loving_Houston 2.11.2020.pdf](https://github.com/Loving-Houston/lovinghouston/files/4187848/Loving_Houston.2.11.2020.pdf)

[2020-02-12 01:34] Julian88Tex opened #26 "Take into Account Duplicate Rules on Accounts"

[2020-02-12 01:37] Julian88Tex opened #27 "Account for School Field Filter"
Filter Criteria | School: Account Record TypeEQUALSSchool
-- | --
Filter Type | Required. The user-entered value must match filter criteria.
Error Message | Value does not exist or does not match filter criteria.
Lookup Window Text |  
Active |  

[2020-02-12 07:22] Julian88Tex opened #28 "All DML Should Fail for Errors [no partial record creation]"
<img width="1158" alt="Screenshot 2020-02-11 23 17 54" src="https://user-images.githubusercontent.com/459099/74311868-441b7400-4d25-11ea-925f-b02bf506ad09.png">
<img width="311" alt="Screenshot 2020-02-11 23 17 48" src="https://user-images.githubusercontent.com/459099/74311873-467dce00-4d25-11ea-9a40-405ecd271706.png">

[2020-02-12 07:23] Julian88Tex commented on #27
This error is actually expected and was a mess up on my part. Meant to search for churches and not schools.

[2020-02-12 07:23] #27 closed

[2020-02-12 07:37] Julian88Tex commented on #14
@sungysang @Rodney-Zhu I've completed testing on this ticket by completed testing on #18, so I'll close it.

[2020-02-12 07:37] #14 closed

[2020-02-12 07:38] Julian88Tex commented on #18
@sungysang @Rodney-Zhu I've completed testing on this ticket and validated that ACs have been met. I will do another small round of testing after updates and/or responses are made to PR based on recommendations.

[2020-02-12 07:39] Julian88Tex commented on #22
@sungysang please add a point value to this ticket based on its amount of work

[2020-02-12 07:55] Julian88Tex commented on #22
@sungysang this will be the next ticket to work on after we've merged the current PR. We can refine it next week.

[2020-02-12 07:59] Julian88Tex opened #29 "Create School Accounts based on Distance"
As a developer/tester, when I run the GooglePlaces.searchPlace method, I would like Accounts to be created based on closest to furthest.

**ACs**

Given a School Account exists
And Church Account has Zip & Country
When Google Places class is run correctly using School Account's ID
Then 5 Church Accounts that are created are from closest to furthest based on their Billing Address

Note: For MVP, no

[2020-02-21 01:54] Julian88Tex commented on #18
@Rodney-Zhu FYI this is your username: rodney@lovinghouston.net.partial

[2020-02-21 02:15] rodney-zhu commented on #18
[testing #18 ](https://docs.google.com/document/d/1nBFxrj4yDX_NgVnu9zAMcp68FS-vRTRzOPmz0dQ3p64/edit)

[2020-02-21 02:23] Julian88Tex commented on #18
@Rodney-Zhu sorry for the confusion, I noticed the "Chruch Status" field was still in AC but it appears LH deleted this field from their production so I've updated the AC

[2020-02-21 02:28] rodney-zhu commented on #18
I have completed testing and validated that ACs have been met.

[2020-02-21 02:57] Julian88Tex commented on #18
@Rodney-Zhu Great, next go through any tests that you can think of changing different variables, maxing out values, null values, looking for duplicates, etc. Just think of different ways you think someone might break this and then look at the data and see if anything is missing or messed up in a way that would bother someone.

[2020-02-21 04:57] sungysang commented on #29
https://developers.google.com/places/web-service/search

_"rankby — Specifies the order in which results are listed."_

[2020-02-21 05:02] sungysang commented on #29
_"Note that radius must not be included if rankby=distance"_

[2020-02-21 06:40] rodney-zhu commented on #18
@sungysang @Julian88Tex I'm satisfied with the extra testing.  Sung, I tagged you on two items on the [test document ](https://docs.google.com/document/d/1nBFxrj4yDX_NgVnu9zAMcp68FS-vRTRzOPmz0dQ3p64/edit)

[2020-02-21 07:13] Julian88Tex commented on #18
@Rodney-Zhu Great job! I didn't see anything that gave me enough concern to block this Issue from being closed. Normally this would be done by QA but since we don't have the full release structure setup, I'll take care of closing Issues.

[2020-02-21 07:13] #18 closed

[2020-02-27 03:23] sungysang commented on #23
"You can create an Apex class with an @InvocableMethod (https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/apex_classes_annotation_InvocableMethod.htm) and call it from inside a flow. You can then link to that flow using an action button. I would recommend that approach over a VF page."

[2020-03-05 05:36] sungysang opened #30 "Certain School Records have Incorrect Address Values"
Example: https://lovinghouston--sungdev.lightning.force.com/lightning/r/Account/0015400000Tc32gAAB/view

Look into how the Address is formatted

[2020-03-05 05:58] sungysang opened #31 "After API Call, send a List of "dummy" Records that the User can select for delete/creation"
Potential Idea: Use JSON.serialize to send a List of Objects with the important values from the call.

Data Schema:
List<Object> --> Map<String,String> (Each Map is a record that's housed in the List of Objects)
[
{Church_Account__c: "0015400000Tc4GKAAZ", School_Account__c: "0015400000SYBvyAAH", Status__c: "Potential", Id: "a0k54000009MotrAAC"}
]
https://foobarforce.wordpress.com/2014/07/25/apex-m

[2020-03-05 05:59] sungysang opened #32 "[SPIKE] Figure out how to deal with Duplicates"
As a user, when I click "Find Churches" I do not want any churches or CSP records for churches created that already exist.
- a "duplicate" is an Account that represents the exact same church (potentially same address, name, website, phone, etc.)
- if easier, no Accounts/CSPs being created is fine for now if all that are "found" are duplicates
- if easier, matching exactly on only name (aka one fie

[2020-03-05 06:03] sungysang commented on #28
@Julian88Tex This is if the button is called from a church rather than a school, the code will attempt to insert a church into the School_Account lookup field which has validation against church record types. One way to bypass this could be to not have the component display on church record types.

[2020-03-05 06:04] sungysang commented on #28
The code should check if CSP record creation or Account creation is successful.

[2020-03-05 06:33] sungysang opened #33 "Add Loading Spinner on LWC while Google API Call is Made"
https://developer.salesforce.com/docs/component-library/bundle/lightning:spinner/example

[2020-03-05 07:44] Julian88Tex commented on #28
@sungysang you're saying that's how it does work or how it should work?

[2020-03-05 20:07] sungysang opened #34 "Add a Parameter for user input on how many records to return"
https://github.com/Loving-Houston/lovinghouston/blob/feature/ssong__create_account_csp_records/force-app/main/default/classes/GooglePlacesUtility.cls#L49

Can be added in the for loop, but consideration will have to be made for if results are less than the requested number

[2020-03-11 20:50] sungysang opened #35 "Research adding a Google Map into Salesforce"
https://developers.google.com/maps/documentation/javascript/tutorial

Questions:
Can interactions with this map be sent as events that can be handled?
Can custom buttons be added into the map ("Create Church")?

[2020-03-15 22:20] Julian88Tex opened #36 "[SPIKE] Figure out what information can be added to Church Account upon creation"
As an admin at LH, I'd like to have as much information as possible on a church record so that I can validate the church is active and has resources for a healthy partnership.

- evaluate all fields returned from Google Places API and see which ones can be added to fields on an Account record
- evaluate if any fields need to be created
- consider using Places Detail search: https://maps.googleapis

[2020-03-15 22:33] Julian88Tex opened #37 "Unit Tests for All Existing Code [Dependent on Duplicates & Fields tickets]"
As a developer/QA on this project, I would like to be able to deploy our code to LH's production org.

ACs

Given an LH dev Sandbox org
And "Find Churches" button project code is pushed to Sandbox
When I click "Run All" unite tests
Then All unit tests run
And All unit tests pass
And Code Coverage is 85% or more

Given LH's production org
and an inbound change set is created from an LH dev Sandbox

[2020-03-15 22:46] Julian88Tex opened #38 "Add a "Distance" field on CSP to represent distance between Church and School Account Records"
As a member of LH staff, I would like to know the distance between a church and school to help me determine any correlation between distance and partnership strength.

Given I'm viewing the CSP object in Object Manager
When I navigate to fields
Then I see a "Distance" field exists
And type is Decimal
And it is not required

Given a CSP record exists
When I navigate to it
A Distance field is visibl

[2020-03-15 22:47] Julian88Tex commented on #26
Close as dupe of #32 .

[2020-03-15 22:47] #26 closed

[2020-03-15 22:47] Julian88Tex commented on #23
This has been completed. Great job @sungysang !

[2020-03-15 22:47] #23 closed

[2020-03-15 22:48] Julian88Tex commented on #29
This has been completed. Great job @sungysang !

[2020-03-15 22:48] #29 closed

[2020-03-15 22:48] Julian88Tex commented on #22
This has been completed. Great job @sungysang !

[2020-03-15 22:48] #22 closed

[2020-03-15 22:52] Julian88Tex commented on #31
Close as a duplicate of #13 .

[2020-03-15 22:52] #31 closed

[2020-03-15 23:28] sungysang commented on #32
Create new method that takes in the bulkData and returns a list of valid churches that are not duplicates.

This method will in the GooglePlaceUtility class and used in line 19 of GooglePlaces.

Currently the bulkData returns 5 results, but this should be changed so that it returns an indefinite amount. The results can be locked to 5 in the duplicate check, so it returns 5 non-duplicate Accounts.

[2020-03-16 00:13] Julian88Tex opened #39 "Change "Find Churches" button name to "Find Closest Churches""
As an admin, I want to know that the "Find Churches" button always finds more churches and is reusable.

Given a school record
When I navigate to the school record
Then I see a button named "Find More Churches"
and a button "Find Closest Churches" doesn't exist
and I can click the button and it runs previously created functionality

[2020-03-16 02:30] Julian88Tex opened #40 "Find 20 Closest Unique Churches"
As a user, when I click "Find Churches" I want the five closest unique churches to be created.

Unique = no duplicates of the same church

Given a school with zip & country
And 3 closest existing churches are related through CSP records
And related churches contain the correct names, zip, and country fields
And a duplicates/matching rule exists that matches based on name, zip, and country fields
A

[2020-03-16 04:08] Julian88Tex commented on #32
This has been completed. Great job @sungysang !

[2020-03-16 04:08] #32 closed

[2020-03-16 04:46] sungysang commented on #36
List of currently returned fields:
 formatted_address
geometry
name
opening_hours
photos
rating

In order to implement, a separate Details call will have to be made for each textSearch result: https://developers.google.com/places/web-service/details
and then inserted back into the results

[2020-03-16 06:00] sungysang commented on #40
@Julian88Tex @Rodney-Zhu ready for testing in dev sandbox

[2020-03-16 07:24] sungysang commented on #39
![Screen Shot 2020-03-16 at 12 24 15 AM](https://user-images.githubusercontent.com/53227499/76732669-7fda9c80-671c-11ea-9abc-df18da13c8d8.png)

[2020-03-16 07:53] Julian88Tex commented on #39
This has been completed. Great job @sungysang !

[2020-03-16 07:53] #39 closed

[2020-03-16 08:47] Julian88Tex commented on #36
note: fields should not fill in or overwrite any existing data for now; if account already exists, do not update any fields

nth details fields:

- formatted_phone_number -> Phone [standard field]
- url -> Google Maps Listing [new field]
- website -> Website
- entire response of call -> Google API Place Details Response [new field]

other data:
- photos -> saved as files
- icon -> saved as logo [m

[2020-03-16 08:55] Julian88Tex commented on #36
@sungysang in addition to what you already have on LWC for displaying results I think it would also be nice to have these fields assuming displayed:

website (clickable) & url (clickable) & distance

sorted by distance from closest to furthest

[2020-03-16 09:04] sungysang commented on #40
Ran into this issue for certain Schools:

`01:57:47:320 USER_DEBUG [74]|DEBUG|Insert failed. First exception on row 0; first error: CANNOT_EXECUTE_FLOW_TRIGGER, We can't save this record because the “CSP Updates” process failed. Give your Salesforce admin these details. This error occurred when the flow tried to update records: INSUFFICIENT_ACCESS_ON_CROSS_REFERENCE_ENTITY: insufficient access rig

[2020-03-16 20:40] sungysang commented on #30
![Screen Shot 2020-03-16 at 1 40 12 PM](https://user-images.githubusercontent.com/53227499/76797893-bdc2d980-678b-11ea-863e-a3435f01e75e.png)

[2020-03-16 23:25] sungysang commented on #38
Mind adding the Distance field to Sandbox @Julian88Tex ?

[2020-03-16 23:34] sungysang commented on #40
@Julian88Tex @Rodney-Zhu query for finding appropriate schools for testing:

`select id
from account
where type = 'school' and BillingStreet != null`

[2020-03-17 00:01] Julian88Tex commented on #40
@sungysang order of displayed CSP fields after clicking button:

CSP name, church name, website, google maps listing, google maps rating, number of google maps reviews, distance

[2020-03-17 00:18] sungysang commented on #37
https://salesforce.stackexchange.com/questions/139235/how-to-create-mock-class-for-multiple-callouts-in-single-class

[2020-03-17 06:26] Julian88Tex commented on #38
@sungysang it's there, lmk if you don't see it thanks

[2020-03-18 03:33] rodney-zhu commented on #40
@jonatng @sungysang can you check out this [Blackbox Testing]? I found a duplicate for the same church. (https://docs.google.com/document/d/1YrnynpKkJj-aJD9qLAK5-lj2lB6r9biRLlsT40qTOOg/edit?usp=sharing)

[2020-03-18 07:42] Julian88Tex opened #43 "Churches are Created after Clicking "Find Closest Churches""
Steps to Repo:

1. Delete "Church of Abiding Love": https://lovinghouston--partial.lightning.force.com/lightning/r/Account/0010r00000KRwgjAAD/view
2. Navigate to "THE EXODUS CHURCH": https://lovinghouston--partial.lightning.force.com/lightning/r/Account/0010r00000KRwWBAA1/view
3. Click "Find Closest Churches"
4. Run Query `SELECT id, name, CreatedDate, CreatedBy.Name, Website FROM Account ORDER BY

[2020-03-18 07:54] Julian88Tex opened #44 "Sometimes Partial Data is Created after clicking "Find Closest Churches""
Steps to Repo:

1. Delete "Yehoshua Missionary Baptist Church": https://lovinghouston--partial.lightning.force.com/lightning/r/Account/0010r00000KRwr3AAD/view
2. Navigate to PARKER INT: https://lovinghouston--partial.lightning.force.com/lightning/r/Account/0011N00001qzT3vQAE/view
3. Click "Find Closest Churches"

Result:

- "20 closest Churches have already been found and created" shows
- "Yehoshu

[2020-03-18 07:56] Julian88Tex commented on #28
Closing since this is an old bug but I think I've found a new version of it #44

[2020-03-18 07:56] #28 closed

[2020-03-18 07:58] Julian88Tex commented on #44
@sungysang this one may be tricking I'm guessing since it deals with existing and new records... let me know if that makes it too challenging to do in a reasonable amount of time. At the very least I'd prefer data to not be created if we aren't letting the client know. If there is an unknown error that occurs data should not be created at all and an error should display saying there was an unknown

[2020-03-18 07:59] Julian88Tex commented on #43
@sungysang I suspect this will be a relatively easy one since it's just checking one field on the record. I know errors were put it previously from when we were just running classes with anonymous apex. Were those removed and/or is there a way to surface them if they are buried? If it seems unreasonable to cover this situation in a short amount of time, then at the very least I would like it to sh

[2020-03-18 08:07] Julian88Tex opened #45 "[BLOCKED] Refresh Partial Sandbox for UAT Testing"

[2020-03-18 08:08] Julian88Tex opened #46 "Move Code from Sandbox to Production"

[2020-03-18 20:10] sungysang commented on #44
@Julian88Tex A little hesitant on this one just because of how much grief it caused C4SF ... do we want existing data to be overwritten? I could potentially check if the fields are empty first before adding to them. But for now, I think Address and name should be left alone

[2020-03-18 20:15] sungysang opened #47 "Add Error Messages on Component"
Figure out how to throw exceptions via Apex and catch them in javascript to display errors if they're received.

Errors to Account for:
Invalid radius, Type, long/lat
Error codes given by Google

[2020-03-18 20:22] Julian88Tex commented on #44
Good point and no wouldn't want data overwritten. Sorry for the confusion tone clear by partial I meant accounts being created with CSPs or vise versa. Nothing to do with number of fields filled in.

[2020-03-18 20:46] sungysang commented on #44
@Julian88Tex Sorry could you clarify? Are there new Account records that don't have information filled in clearly? Or does this only affect Accounts that have been created before the button was clicked?

If talking about existing Accounts (created before the button), I could add field information that aren't address and Name and only if they are empty. Would that be a good alternative to not filli

[2020-03-18 21:26] Julian88Tex commented on #44
@sungysang as far as I can tell the button is creating an account correctly but not creating a CSP for some reason. Theoretically there is an error not being surfaced that I haven't been able to identify.

[2020-03-18 21:27] Julian88Tex commented on #44
I haven't looked at any fields being filled in or not filled in for this ticket. If there is an issue like that I'd create a new ticket for it. This is l a our accounts being created without CSPs.

[2020-03-18 23:05] sungysang commented on #44
ok will look into it when I have a chance

[2020-03-19 05:18] Julian88Tex commented on #44
@sungysang looked at logs a bit more and am seeing that flow error coming up. I tried deactivating it and then running again but CSP records still didn't get created. When I looked in the logs I saw this error:
System.DmlException: Insert failed. First exception on row 23; first error: FIELD_FILTER_VALIDATION_EXCEPTION, Value does not exist or does not match filter criteria (type=school district):

[2020-03-19 17:07] sungysang commented on #40
@Rodney-Zhu wow that's a great find, since the duplicate check occurs for existing records, it looks like there's no check for the new churches that are inserted among each other. It would take some extra work to flesh out a method to check within the returned data before it's checked for dupes but I'll create an issue

[2020-03-19 17:13] sungysang opened #48 "Duplicate Churches within one Transaction (Google data return)"
Reference: #40

Currently duplicate checks occur before churches are inserted, checking among the existing church Accounts. This means that no duplicate checking is occurring between the new records that are inserted, which could lead to duplicates if there's two similar church markers in Google Maps.

Potential Ideas:
Go through the returned data (rawChurches) before the duplicate check occurs so

[2020-03-19 17:13] sungysang commented on #13
@Julian88Tex is this one okay to close?

[2020-03-19 17:14] sungysang commented on #33
Closing since this has been implemented. Separate tickets should be made on improving the design of it

[2020-03-19 17:14] #33 closed

[2020-03-19 17:15] sungysang commented on #36
@Julian88Tex Could you close this one once you create the new issue for list of details?

[2020-03-19 17:16] Julian88Tex opened #49 "Reorder/Hide/Unhide Fields Data Table after Button Click"
As an LH admin, I would like to get relevant high-level information about churches that the "Find Closest Churches" button has found so that I can evaluate it's accuracy as well as begin doing some research on them.

Data Table Field Order from Left to Right:
- CSP name
- church name
- website
- google maps listing
- google maps rating
- number of google maps reviews
- distance (formula field on C

[2020-03-19 17:21] sungysang commented on #44
@Julian88Tex It's weird that the SD lookup field is showing an error because I don't talk to this field at all and it works fine for other records

[2020-03-19 17:53] sungysang commented on #44
Disabling the lookup field filter allows CSP records to be created. As a workaround, this can be disabled before the button is pressed for now

[2020-03-19 17:59] sungysang commented on #44
https://lovinghouston--partial.lightning.force.com/lightning/setup/ObjectManager/Account/FieldsAndRelationships/00N1N00000EwRVR/view

[2020-03-19 18:02] sungysang opened #50 "Review all Workflows and Automations in LH org"
LH has many Workflows and Triggers that could be consolidated and updated to improve their automation and allow easier integration into their processes. @Rodney-Zhu @jonatng I think this would be a great project for you both if yall are up for it.

For starters, I think it would be good to understand LH's Workflows and come up with how they could be refactored into existing Processes or new Proces

[2020-03-19 18:38] sungysang opened #51 "Distance Field shows Incorrect Value on Data Table"
When I click on the button, the distance number shows an impossibly large value. After some time, it seems to refresh and show the correct value when I look at the CSP record.

![Screen Shot 2020-03-19 at 11 36 47 AM](https://user-images.githubusercontent.com/53227499/77102469-1c7b9380-69d6-11ea-87d6-4ff64b65e7d8.png)

[2020-03-19 18:46] sungysang commented on #51
The field may need some time to calculate, so I could add some sort of wait timer before it displays

[2020-03-19 19:32] Julian88Tex commented on #50
@sungysang capturing your original details as a comment:

[2020-03-19 19:47] Julian88Tex commented on #13
@sungysang yup thanks

[2020-03-19 19:47] #13 closed

[2020-03-19 19:48] Julian88Tex commented on #36
Yup, closing since this ticket lead to creation of #51

[2020-03-19 19:48] #36 closed

[2020-03-19 19:50] Julian88Tex commented on #51
@sungysang, for now, let's just remove distance from data table after clicking button

[2020-03-20 19:47] Julian88Tex opened #52 "Update Readme to Accurately Describe Project"

[2020-03-20 19:51] Julian88Tex opened #53 "[SPIKE] FIgure out what needs to be changed to make this project universal"
- remove creation of Church_School_Partnership__c
- probably keep in just account creation portion
- locate other hard-coded custom fields
- figure out which fields to package
- explore where to host this project (like Open Source Commons)

[2020-03-30 02:33] Julian88Tex commented on #40
Closing since we've created new bug tickets based on testing and outside those, functionality is working as expected.

[2020-03-30 02:33] #40 closed

[2020-03-30 02:49] Julian88Tex opened #56 "Remove Google API Key from Code and Add to Custom Metadata"
- remove key from GoogleUtility: https://github.com/lovinghouston/lwcgoogleplacesbutton/blob/master/force-app/main/default/classes/GooglePlacesUtility.cls#L86
- create a Custom Metadata Type to store key
- use API Key 4

[2020-03-30 02:49] Julian88Tex opened #57 "[Blocked] Invalidate Google API Key that is Public"
- delete old Google API Key used here: https://github.com/lovinghouston/lwcgoogleplacesbutton/blob/master/force-app/main/default/classes/GooglePlacesUtility.cls#L86

[2020-04-03 00:52] sungysang commented on #44
@Julian88Tex should this be closed since disabling the lookup filter corrects this? Or are you keeping open until you address turning off the filter in LH's production with them

[2020-04-03 01:01] Julian88Tex commented on #44
The latter :-) @sungysang

[2020-04-03 01:51] sungysang commented on #56
@Julian88Tex  Metadata Type and record created: https://lovinghouston--partial.lightning.force.com/lightning/setup/CustomMetadata/page?address=%2Fm0B0r0000004Dft

[2020-04-03 02:12] sungysang opened #60 "[BUG]: If no churches can be created from first call, null object error is thrown"
Problem: On certain occasions, Google API will return places that all do not contain a valid address. If this occurs, no raw churches are created and so a null List is thrown around in the code, causing a null object error.

Solutions:
1. Throw an exception if no churches were created from the call so the null object error is not thrown.
2. Allow partial addresses to be accepted when creating new

[2020-04-03 02:33] sungysang commented on #57
@Julian88Tex  if you can let me know the new API Key I can update the metadata

[2020-04-03 02:41] #49 closed

[2020-04-03 02:41] #51 closed

[2020-04-03 02:45] Julian88Tex commented on #57
@sungysang it's in the same LastPass secure note

[2020-04-03 02:49] Julian88Tex commented on #60
@sungysang thanks for creating this. I'm not adding this to MVP since it is low risk for data quality.

[2020-04-03 03:55] sungysang opened #62 "[BUG]: Attempt to de-reference null object if an Account that should be a Church does not have correct Type"
Example: https://lovinghouston--partial.lightning.force.com/lightning/r/Account/0011N000018j3uIQAQ/view

Solution: Remove Type clause in SOQL query that relies on it

[2020-04-03 04:04] sungysang commented on #57
@Julian88Tex It's updated so feel free to invalidate the old one

[2020-04-03 04:32] sungysang commented on #30
Closing this since this was addressed with re-factoring of formatting addresses

[2020-04-03 04:32] #30 closed

[2020-04-03 04:33] sungysang commented on #38
Closing this since Distance will no longer be part of the columns to show. Will create new ticket to address incorrect distances showing

[2020-04-03 04:46] sungysang opened #65 "After Clicking the Button, Distance Shows as Incorrect Large Value"
This was only occurring for new CSP records that were displayed in the data table, so I believe it has something to do with the formula field not calculating in time to display properly in the data table.

Potential solution is to calculate the distance within the Apex before inserting so that it's pre-calculated, although I was running into errors when attempting to do this

[2020-04-03 05:05] #47 closed

[2020-04-03 05:27] Julian88Tex commented on #57
@sungysang thanks I've deleted it.

[2020-04-03 05:27] #57 closed

[2020-04-03 21:07] sungysang commented on #46
Changesets required:
Disable Lookup Filter on School District Lookup on Account
Disable Process CSP Updates
Custom Metadata Type
All Apex Classes
LWC component
New fields (rating, number ratings, distance)
will update as more come in

[2020-04-03 22:56] sungysang opened #67 "Throw new Exception if initial Status Code is bad"
Google does not populate the default status code on the HTTPResponse so response.getStatusCode() will always be 200 even if an error message is inside it. For situations where Salesforce has issues getting back a response or sending a request, instead of returning null if the status != 200, an exception should be thrown to the backend and frontend that describes the issue.

[2020-04-05 00:29] sungysang opened #71 "Delete GooglePlacesTests Class in partial Sandbox"
This has been replaced with GooglePlacesTest

[2020-04-05 01:06] sungysang opened #73 "[BUG] Attempt to de-reference null object if beginning Account Type is null"
Steps to reproduce:
1. Go to Account with blank Type field.
2. Press button.

Attempt to de-reference null object will be thrown.

Fix: Perform a check on the Type field before validating its value and throw a more helpful error message if it is null

Recommend checking various Type values as well as blank while testing.

[2020-04-05 04:40] Julian88Tex commented on #71
I've deleted this class

[2020-04-05 04:40] #71 closed

[2020-04-05 05:58] sungysang commented on #73
@Rodney-Zhu  can you please test this?

[2020-04-05 06:24] sungysang commented on #48
Good example record: https://lovinghouston--partial.lightning.force.com/lightning/r/Account/0011N00001qzT3iQAE/view

[2020-04-05 08:20] sungysang commented on #48
FYI @Julian88Tex @Rodney-Zhu there is a fix for this issue in this branch: https://github.com/lovinghouston/lwcgoogleplacesbutton/tree/bug/ssong_internal_duplicates
but Julian brought up a good point that same addresses may not necessarily mean duplicate churches, so will hold off on making a PR for this until it turns into a big issue for LH.

[2020-04-07 01:37] jonatng commented on #56
@sungysang
Test: created a second dummy API key with different numbers.
Result: invalid API key, two different API keys cannot co-exist.
*Can we prevent a second Google API from being created?

[2020-04-07 02:20] sungysang commented on #56
@jonatng good test, I don't think there's really any way in terms of validation rules, triggers, etc that we can set on the Custom Metadata Type to prevent users from entering additional records (correct me if I'm wrong @Julian88Tex). But I think this is fine because this is our custom metadata and there's basically no reason someone would need to go in and add another Custom Metadata record unles

[2020-04-07 02:32] jonatng commented on #38
Test: Valeo Preparatory Charter School
Result: "Invalid Account Billing Address. Billing Address Country and Zip are missing."
**if the certain fields are missing info, how do we address this?

[2020-04-08 00:52] rodney-zhu commented on #62
@sungysang this has passed. @Julian88Tex will add a video of the work we did together. [https://docs.google.com/document/d/1GeXbOqHqqUDywF2JyN6cx-fiVbHIbEU1t0pkRHcEU78/edit](https://docs.google.com/document/d/1GeXbOqHqqUDywF2JyN6cx-fiVbHIbEU1t0pkRHcEU78/edit)

[2020-04-08 01:31] Julian88Tex commented on #62
@Rodney-Zhu great job! Here's our recording which I've shared with @sungysang and @jonatng as well in case they are curious about testing.

[2020-04-08 04:14] Julian88Tex commented on #37
Good job. Confirmed unit tests are above 85% and that all tests pass:

<img width="415" alt="Screenshot 2020-04-07 21 12 25" src="https://user-images.githubusercontent.com/459099/78743842-b74ff980-7914-11ea-8f9d-1a128c2fe380.png">

Additionally, I created a Github action that runs these tests on every push.

[2020-04-08 04:14] #37 closed

[2020-04-08 04:16] Julian88Tex commented on #43
Confirmed this  is no longer occurring:

<img width="522" alt="Screen Shot 2020-04-07 at 9 16 15 PM" src="https://user-images.githubusercontent.com/459099/78743944-0564fd00-7915-11ea-9254-223ffd24be15.png">

[2020-04-08 04:16] #43 closed

[2020-04-08 04:47] Julian88Tex commented on #44
@sungysang just emailed Melissa to see if she's okay with us removing the lookup filter.

In [production](https://lovinghouston.lightning.force.com/lightning/setup/ObjectManager/Account/FieldsAndRelationships/00N1N00000EwRVR/view), it appears this field isn't being used very often. [Report](https://lovinghouston.lightning.force.com/lightning/r/Report/00O3l000005MEKREA4/view?queryScope=userFolders)

[2020-04-08 04:59] Julian88Tex commented on #46
Created a Change Set on Partial Sandbox as a starting place: https://lovinghouston--partial.lightning.force.com/lightning/setup/OutboundChangeSet/page?address=%2Fchangemgmt%2FoutboundChangeSetDetailPage.apexp%3Fid%3D0A20r0000004V8T

[2020-04-08 18:44] Julian88Tex commented on #44
Got approval form LH to remove Lookup filter. I changed this ticket to Blocked since we will do it once we are ready to move code from Sandbox to Production.

[2020-04-09 04:20] jonatng commented on #38
@sungysang @Julian88Tex
Use case:
if user decides to edit to address B because address A is incorrect, and CSP lists are created for address A and B.
Result:
CSP lists for address A and B both exist under related related list > CSP
Issue:
How can we automatically remove the previous CSP list and only procure a list for the updated address? see "Johnny school of cirque" example.

[2020-04-09 06:42] Julian88Tex commented on #38
@jonatng can you write out exact steps to get to second CSP creation? and/or add a video of you recreating issue? not sure I fully understand the situation

[2020-04-09 20:38] sungysang commented on #38
@jonatng It sounds like this boils down to how old CSPs that were created with a previous address are treated if the school's address is updated?

I wouldn't call this functionality for the button, more just cleanup responsibility by the admin and/or users after they update the address. Deleting their existing data, even if the data could have been created by us, would be dangerous and something t

[2020-04-10 01:24] jonatng commented on #38
https://drive.google.com/open?id=1yTNSRNd1pxWjNHwVrM0kSqnJNSoqevnX
Distance Test vid link
@sungysang @Julian88Tex

[2020-04-10 03:10] Julian88Tex commented on #38
@jonatng thanks for the video this helps! So if I understand these are the steps to reproduce the situation:

1. Create an Account with Address 1
1. Click the "Find Closest Churches" button
1. Change the address on the account to Address 2
1. Click the "Find Closest Churches" button
1. View CSP Records related to Account

Result:
- All CSP record exists from both the 1st and 2nd clicking the butto

[2020-04-10 04:09] jonatng commented on #38
@sungysang that's correct.

[2020-04-10 20:15] rodney-zhu commented on #73
@sungysang Test Passes for any Account that is not School. Error message is, "Invalid Account Type. Type needs to be school."

https://docs.google.com/document/d/1RxL7qWxqFB1iLfCXqiY_0Peu9NUZ7-ufXXkPaT3IEgo/edit?usp=sharing

[2020-04-11 16:23] Julian88Tex commented on #73
Great job on dev @sungysang and great job on testing @Rodney-Zhu !

Closing this out since it is complete.

[2020-04-11 16:23] #73 closed

[2020-04-11 16:23] Julian88Tex commented on #62
Great job on dev @sungysang and great job on testing @Rodney-Zhu !

Closing this out since it is complete.

[2020-04-11 16:23] #62 closed

[2020-04-11 16:23] Julian88Tex commented on #56
Great job on dev @sungysang and great job on testing @jonatng !

Closing this out since it is complete.

[2020-04-11 16:23] #56 closed

[2020-04-11 16:23] Julian88Tex commented on #38
Great job on dev @sungysang and great job on testing @jonatng !

Closing this out since it is complete.

[2020-04-11 16:23] #38 closed

[2020-04-12 05:30] Julian88Tex commented on #5
Documentation: https://docs.google.com/document/d/1LckcVV06yPHZovLO5GNPfghkBGtelKucvaopSsohUs8/edit?ts=5e928a4a#heading=h.2nqnadjelmn8

[2020-04-13 19:04] sungysang commented on #60
@Julian88Tex can this be closed?

[2020-04-13 19:04] sungysang commented on #67
@Julian88Tex this can be closed unless you want testing on it, although it may be tough to test since I'm not sure how to reproduce an API error in Salesforce

[2020-04-13 19:36] Julian88Tex commented on #60
@sungysang have we validated it is no longer occuring? I can say I haven't.

[2020-04-13 19:38] Julian88Tex commented on #67
@sungysang I consider testing of #57 as a valid test of this issue and will close. Thanks.

[2020-04-13 19:38] #67 closed

[2020-04-13 19:57] sungysang commented on #60
@Julian88Tex have tested this on my own and there is a unit test that checks for this

[2020-04-13 19:58] Julian88Tex commented on #60
@sungysang cool can you link to unit test? I'll verify and close.

[2020-04-13 19:59] sungysang commented on #60
https://github.com/lovinghouston/lwcgoogleplacesbutton/blob/master/force-app/main/default/classes/GooglePlaces_TEST.cls#L101

[2020-04-13 23:59] Julian88Tex commented on #60
@sungysang looks good thanks will close!

[2020-04-13 23:59] #60 closed

[2020-04-15 03:21] Julian88Tex opened #82 "Consider Making Repo Private"
Github recently made private repos available for free accounts. We should research what the process is for making a repo private and consider it.

https://help.github.com/en/github/getting-started-with-github/faq-about-changes-to-githubs-plans?utm_source=announcement&utm_medium=email&utm_campaign=mnch-free

https://help.github.com/en/github/administering-a-repository/setting-repository-visibility

[2020-04-15 07:05] Julian88Tex commented on #45
@sungysang @Rodney-Zhu @jonatng I've begun refreshing the partial sandbox. This means you will no longer be able to log in since effectively the old partial sandbox is gone. Just an FYI.

[2020-04-15 07:06] Julian88Tex opened #83 "Run Regression in Refreshed Partial Sandbox for UAT"

[2020-04-16 05:28] Julian88Tex opened #85 "Remove Google API Key 4 from Repo"
Key has already been invalidated.

[2020-04-16 20:59] Julian88Tex opened #87 "Add Cumulusci"

[2020-04-21 03:38] Julian88Tex opened #88 "[Bug] Surface all errors to Button Message Error on LWC"
Recently, LH reached out and let us know that there are some instances where clicking the button produced no results and error messages. It's been identified that this is caused by a standard Salesforce error being thrown (process builder process, field filter, validation rule, etc.) but is only viewable in logs and not button. As an admin, it is important to know when an error occurs so they can

[2020-04-21 03:42] Julian88Tex opened #89 "[SPIKE] CSP Update produces error and prevents record creation after clicking "Find Closest Churches""
LH has a process builder process named "CSP Update" that is preventing CSP & Account recorded creation after clicking "Find Closest Churches" button.

Spike is to identify exactly why this is happening and recommend best next steps which may include but is not limited to:
- editing process
- disabling process
- recommending next steps for editing LWC button to prevent error
- making LH aware so th

[2020-04-21 03:44] Julian88Tex opened #90 "Update Documentation to include FAQ & Google Duplicate Results Section Based on Email"
After early UAT, LH wrote back with some questions about Google Duplicates and other interesting situations. It would be great to add this to our google doc file.

I recommend keeping this in the same document and not creating a separate one for easy of access.

[2020-04-24 00:54] jonatng commented on #90
@Julian88Tex documentation is updated. If you feel more should be added, LMK

[2020-04-24 03:14] Julian88Tex commented on #90
@jonatng nice! added some suggestions to FAQ

[2020-04-25 19:29] Julian88Tex commented on #90
Good job thanks @jonatng

[2020-04-25 19:29] #90 closed

[2020-04-25 19:30] Julian88Tex commented on #83
Done and emailed LH

[2020-04-25 19:30] #83 closed

[2020-04-25 19:30] Julian88Tex commented on #45
Done and gave logins to LH

[2020-04-25 19:30] #45 closed

[2020-04-25 19:31] Julian88Tex commented on #5
Great job @jonatng. Shared it with LH!

[2020-04-25 19:31] #5 closed

[2020-04-25 19:53] Julian88Tex commented on #88
@sungysang great job! It works <3

[2020-04-25 19:53] #88 closed

[2020-05-01 06:30] Julian88Tex opened #92 "Update CSP Distance Help Text to indicate distance metric (Miles)"

[2020-05-03 06:01] Julian88Tex opened #94 "Remove LWC List after Button Click and add Informational Link"
Given a School account
And account hasn't had "Find Closest Churches" button pressed yet
When the "Find Closest Churches" button is pressed
And loading has completed
Then a "Success" informational messaged appears [exact wording TBD]
And a link to the Church School Partnership related list appears
And a list of all found Churches/CSPs does NOT display anymore

Given a School account
And account ha

[2020-05-03 06:10] Julian88Tex opened #95 "Update Documentation based on #94 Changes"
Update documentation to include changes made by Issue #94

[2020-05-03 06:14] Julian88Tex opened #96 "[SPIKE] Figure out best way to do Church vetting after clicking "Find Closest Churches" button"
Ides:
- add cross-object formula fields to CSP object from Account and add those formula fields to CSP related list on school and/or church
- create a report with cross-object and CSP data

[2020-05-03 06:15] Julian88Tex commented on #96
@sungysang if you're down could we meet about this Monday evening? want to discuss this root of the issue a bit and think of a low-code solution for MVP

[2020-05-03 06:27] sungysang commented on #96
mind if we meet tomorrow instead?

[2020-05-03 06:30] Julian88Tex commented on #96
@sungysang sure

[2020-05-04 04:59] Julian88Tex opened #97 "Fix CSS issues caused by component being moved to smaller right column"
<img width="849" alt="Screenshot 2020-05-03 21 01 51" src="https://user-images.githubusercontent.com/459099/80937291-5e477a00-8d89-11ea-8ba8-fb8d9130d72f.png">
<img width="851" alt="Screenshot 2020-05-03 21 02 22" src="https://user-images.githubusercontent.com/459099/80937297-5f78a700-8d89-11ea-8c74-82727548c0aa.png">

[2020-05-04 20:55] Julian88Tex opened #98 "Create a CSP + Church report grouped by Schools"
As a District Coordinator, after creating a number of new churches using the "Find Closest Churches" button, I would like to be able to review all my churches to begin doing lead scoring.

Notes:
- Report Type will likely need to be Account with Church School Partnerships based on the Church lookup field on the CSP
- Grouped by Schools
- Sorted by Created Date and then sorted by Distance

Filter:

[2020-05-04 20:56] Julian88Tex commented on #98
@sungysang mind doing a pass on this and verifying it makes sense based on what we discussed?

@ChuanKaiLin I think working on this report would be good practice for you. We can discuss more during our Thursday meeting if you have some time then.

[2020-05-04 21:44] sungysang commented on #98
Looks good to me

[2020-05-04 21:45] sungysang commented on #98
But I wonder if reporting on the CSP might be easier ... either Object _should_ be possible

[2020-05-05 00:38] Julian88Tex commented on #98
@sungysang can you display parent object fields on a child's report?

[2020-05-05 01:01] ChuanKaiLin commented on #98
Okay, we can discuss more detail on Thursday. I will have free time during that time.

[2020-05-05 02:59] Julian88Tex commented on #98
@ChuanKaiLin sweet thanks

[2020-05-09 19:20] rodney-zhu commented on #95
@Julian88Tex Step 3 in the Documentation has been updated based on Sung's changes.

https://docs.google.com/document/d/1LckcVV06yPHZovLO5GNPfghkBGtelKucvaopSsohUs8/edit#

[2020-05-09 22:46] Julian88Tex commented on #95
@Rodney-Zhu great job thanks!

[2020-05-09 22:46] Julian88Tex commented on #98
V1: https://lovinghouston--partial.lightning.force.com/lightning/r/Report/00O2f000000PlFXEA0/view

[2020-05-12 05:47] Julian88Tex opened #99 "[Bug] Sometimes 1 Additional CSP is Created (21)"
Rarely, an additional church is found in addition to the typical 20 and a CSP is created. The only pattern I've noticed so far is that this additional church is often named similarly to another church found. I suspect there may be something going on with Duplicate Rules finding 2 churches and creating CSPs for both instead of only creating the first match.

Steps to Repo:
1. Navigate to "NIMITZ H

[2020-05-12 05:48] Julian88Tex commented on #99
@sungysang Just wanted to alert you to this in case you had a quick take on it. I remember us seeing before but I thought it stopped however it seemed to still be happening. Probably intermittent depending on existing found churches.

[2020-05-27 07:18] Julian88Tex opened #102 "Change CSP Link Text"
Can the link be "Click here to see Potential and Existing Church-School Partnerships"? (instead of "new")

[2021-03-01 06:39] #95 closed